<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.frakbot.romainguymuzei">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Required by RemoteMuzeiArtSource -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher">

        <service
                android:name=".CuriousCreatureArtSource"
                android:label="@string/source_name"
                android:description="@string/source_description"
                android:icon="@drawable/ic_source_curiouscreature">

            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtSource"/>
            </intent-filter>

            <meta-data
                    android:name="color"
                    android:value="#bc8263"/>
        </service>
    </application>

</manifest>
